body{
    font-family: 'Mate SC', serif;
    background-color: lightblue;
}
.header_div img{
    width: 100px;
}
.header_div{
    background: white;
    color: red;
}
.main_div{
    background: palevioletred;
    padding: 10px;
    margin-top: 15px;
  border: 3px solid rgb(233, 131, 63);
}
.main_div label{
    background: rgb(236, 183, 194);
width: 310px;
padding: 10px;
margin-bottom: 0px;
box-shadow: 5px 5px 20px white;
}

#camera{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 20px white;
}
.main_div button{
    width: 310px;
    font-size: 15px;
    border: 2px solid;
    box-shadow: 5px 5px 20px white;
}

#result{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 20px white;
}

.footer_div img{
    width: 70px;
}

.footer_div{
    margin-bottom: 50px;
    width: 100%;
}

.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow:5px 5px 20px white ;
}

.footer_name{
    position: fixed;
    color: rgb(0, 17, 253);
    bottom: 0;
    left: 30%;
    width: 50%;
    background: tomato;
    line-height: 2;
    text-align: center;
    font-size: 15px;
}
